<section>
    <div>
        <article class="message five rnd">
            <h1>Something went wrong in a bad way!</h1>

            <h2>An unexplained error occurred please allow us to apologize and know that we have someone on it</h2>

            <p>To reach a Neustar representative, call <strong>+1-855-898-0036</strong></p>

            <p>Or visit one of these pages: <a href="/">Home Page</a> | <a href="/about-us">More About Neustar</a> | <a
                    href="/support">Support</a> | <a href="http://hello.neustar.biz/main-request-info.html"
                                                     target="_blank">Contact Us</a></p>
        </article>
    </div>
</section>